<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- parametros para la conexion a la base de datos -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/closerme</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <!-- Configuracion del pool interno -->
        <property name="connection.pool_size">1</property>
        <!-- Dialecto de la base de datos -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Otras propiedades importantes -->
        <property name="show_sql">true</property>


        <!-- Archivos de mapeo -->
        <mapping resource="closermeapp/Data/Mapping/Member.hbm.xml"/>
        <mapping resource="closermeapp/Data/Mapping/Membership.hbm.xml"/>
        <mapping resource="closermeapp/Data/Mapping/CallLog.hbm.xml"/>
        <mapping resource="closermeapp/Data/Mapping/Employee.hbm.xml"/>
        <mapping resource="closermeapp/Data/Mapping/Event.hbm.xml"/>
        <mapping resource="closermeapp/Data/Mapping/Enterprise.hbm.xml"/>
        <mapping resource="closermeapp/Data/Mapping/MemberChargesRegister.hbm.xml"/>
        <mapping resource="closermeapp/Data/Mapping/EnterpriseChargesRegister.hbm.xml"/>
        <mapping resource="closermeapp/Data/Mapping/EventChargeRegister.hbm.xml"/>


    </session-factory>
</hibernate-configuration>